@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Positioning object in the absolute center of the page
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

