// COLORS
$color-primary-purple: #663399;
$color-primary-orange: #d59541;
$color-primary-orange-deep: #E64A19;
$color-primary-red: #7A0010;
$color-primary-brown: #644B46;

$color-primary-purple-light: #9762cc;
$color-primary-orange-light: #f19f8a;

$color-grey: #333;
$color-grey-light: #eee;
$color-blue-grey: #35404F;
$color-white: #fff;
$color-black: #000;

// FONT 
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;