// COLORS
$color-primary-purple: #663399;
$color-primary-orange: #d59541;

$color-primary-purple-light: #9762cc;
$color-primary-orange-light: #f19f8a;

$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-grey: #333;
$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;