@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/_variables";

@import "base/animations";
@import "base/_base";
@import "base/_typography";
@import "base/utilities";

@import "components/_button";

@import "layout/_header";

@import "pages/home";





/* ============== HEADER SECTION BEGINS HERE ================== */

.main-header {
  height: 100vh;
  background-image: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.8)), url('/app/assets/img/antiquity.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &__brand-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__branding {
    height: 10rem;
  }

  &__text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__primary {
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*Prevents the shake at the end of the title and subtitle animation.*/
    margin-bottom: 2rem;
  }

  &__primary-title {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.24rem;
    letter-spacing: .2rem;
    -webkit-animation: moveInLeft 1s ease-out;
    animation: moveInLeft 1s ease-out;
    margin-bottom: 1rem;
    min-width: 35rem;
  }
  
  &_primary-subtitle {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin: 0;
    -webkit-animation: moveInRight 1s ease-out;
    animation: moveInRight 1s ease-out;
  }
}

// @media (min-width: 33.125rem) {
//   .main-header__primary-title {
//     font-size: 2.88rem;
//     letter-spacing: .5rem;
//     min-width: 60rem;
//   }
// }

// @media (min-width: 80rem) {
//   .main-header__primary-title {
//     font-size: 3.2rem;
//     letter-spacing: .7rem;
//     min-width: 70rem;
//   }
// }

// @media (min-width: 75rem) {
//   .main-header__primary-title {
//     font-size: 5.6rem;
//     letter-spacing: 1rem;
//   }
// }

// @media (min-width: 33.125rem) {
//   .main-header__primary-subtitle {
//     font-size: 1.92rem;
//     letter-spacing: .5rem;
//   }
// }

// @media (min-width: 50rem) {
//   .main-header__primary-subtitle {
//     font-size: 3.2rem;
//     letter-spacing: .7rem;
//     min-width: 70rem;
//   }
// }

// @media (min-width: 75rem) {
//   .main-header__primary-subtitle {
//     font-size: 5.6rem;
//     letter-spacing: 1rem;
//   }
// }






@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(60px)
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem)
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
