.main-footer {
  background-color: black;
  color: white;
  padding: 3rem;
  line-height: 2.5rem;
  font-size: 1.4rem;

  &__logo {
    width: 10.7rem;
    height: auto;
  }

  &__heading {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: normal;
  }

  &__paragraph {
    color: $color-white;


    &--address {
      text-indent: 3.2rem;
    }
  }

  & a {
    color: white;
    text-decoration: none;
  }

  &__icon {
    margin-right: 1rem;
  }

  &__icon--combine {
    margin-right: 1.5rem;
  }

}


.sub-footer {
  background-color: $color-blue-grey;
  text-align: center;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;

  &__copyright {
    padding-left: 8rem;
  }

  &__social-links {
    padding-right: 8rem;
  }
}

.sub-footer__social-links {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  list-style: none;

  & a {
    color: $color-white;
    text-decoration: none;
    margin-right: 20px;
  }
}


.freesda-main__footer,
.banner-main__footer {
  position: absolute;
  right: 0;
  left: 0;
}

.freesda-sub__footer,
.banner-sub__footer {
  position: absolute;
  right: 0;
  left: 0;  
}

















// .testing {
//   background-color: goldenrod;
//   display: flex;
//   justify-content: space-between;
// }

// .flex-container {
//   background-color: purple;
//   display: flex;
//   justify-content: space-between;
//   height: 10rem;
// }

// .sub-footer__social-links {
  
// }




// .flex-container {
//   width: 50%;
//   margin: 0 auto;
//   display: flex;
//   background-color: goldenrod;
//   justify-content: space-between;

// }

// .sub-footer__social-links--icons {
//   display: inline-block;

  
// }

// .sub-footer__social {
//   justify-items: flex-end;
// }

// .sub-footer {
//   // background-color: $color-grey;
//   // display: flex;
//   // justify-content: space-between;
//   // padding-top: 3rem;
//   // padding-bottom: 3rem;
//   // margin: 0 auto;

  
//   background-color: goldenrod;


//   &__copyright {
//     color: $color-white;
//     font-size: 1.4rem;
//     // margin-left: 10rem;
//   }

//   &__social-links--icons {
//     display: inline-block;
//     color: $color-white;
//     // margin-right: 3rem;
//     align-items: flex-end;

//     & a:link,
//     & a:visited {
//       color: $color-white;
//       font-size: 1.4rem;      
//     }
//   }

// }


// .copy-footer {
//   background-color: #111;
//   color: white;
//   font-size: 1.5rem;
//   padding-top: 3rem;

//   & .social-links {
//     color: white;

//     &__items {
//       display: inline-block;
//     }
//   } 

//   &:after {
//     content: "";
//     display: inline;
//     padding-right: 1px;
//   }
// }

// .footer-links:links,
// .footer-links:visited {
//   color: white;
// }