.row {
  max-width: $grid-width;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  // .col {
  //   margin-bottom: $gutter-vertical;
  // }

  @include clearfix;
  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) /2);
  }
  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) /3);
  }
  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) /3) + #{$gutter-horizontal});
  }
  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) /4);
  }
  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }
  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
  }
}

// .publishing-box {
//   max-width: 100%;
// }

// CSS GRID
.grid-container{
// .grid-fundamentals 
  color: $color-white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4,1fr);
  grid-gap: 2rem;
  grid-template-areas: "card card card"
                       "card card card"
                       "card card card"
                       "card card card";

  &__link,
  &__link:visited {
    color: $color-grey;
    border: 1px solid goldenrod;
    border-radius: .5rem;
    text-decoration: none;
  }

  &__link:hover {
    border: .5rem solid goldenrod;
    background-color: $color-primary-purple;
    color: $color-white;
  }
}

// .grid-fundamentals__link {
//   text-decoration: none;
// }

// CSS GRID
.grid-pastoral-care {
  color: $color-white;
  display: grid;
  grid: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-template-areas: "card card card"
                       "card card card"
                       "card card card";
  }

.card {  
  font-size: 1.6rem;
  padding: 2rem;
  
  &__title {
    font-size: 2.4rem;
    background-color: $color-primary-purple;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1rem;
  }

  &__button {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

// .grid-fundamentals__title:hover {
//   background-color: purple;
// }

.card-1 {
  background-color: #35404F;
}

.card-2 {
  background-color: #29ABE2;
}

.card-3 {
  background-color: #22B573;
}

.card-4 {
  background-color: #C69C6D;
}

.card-5 {
  background-color: #E64A19;
}

.card-6 {
  background-color: #2E3192;
}

.card-7 {
  background-color: #9E005D;
}

.card-8 {
  background-color: #0071BC;
}

.card-9 {
  background-color: #FF0621;
}

.card-10 {
  background-color: #29ABE2;
}

.card-11 {
  background-color: #1B1464;
}

