/* ================= BROWSER RESET ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= GLOBAL STYLES ===================== */

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

/* ============== HEADER SECTION BEGINS HERE ================== */

.main-header {
  height: 100vh;
  background-image: -webkit-gradient(linear , left top, left bottom , from(rgba(0, 0, 0, 0.8)) , to(rgba(0, 0, 0, 0.8))) , url('/app/assets/img/antiquity.png');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.8)) , url('/app/assets/img/antiquity.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; 
}

.main-header__brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

.main-header__branding {
    height: 100px;
  }

.main-header__text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }

.main-header__primary {
    color: #fff;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; /*Prevents the shake at the end of the title and subtitle animation.*/
    margin-bottom: 20px;
  }

.main-header__primary-title {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22.4px;
    letter-spacing: 2px;
    -webkit-animation: moveInLeft 1s ease-out;
            animation: moveInLeft 1s ease-out;
    margin-bottom: 10px;
    min-width: 350px;
  }

@media (min-width: 530px) {

.main-header__primary-title {
      font-size: 28.8px;
      letter-spacing: 5px;
      min-width: 600px; 
  }
  }

@media (min-width: 800px){

.main-header__primary-title {
      font-size: 32px;
      letter-spacing: 7px;
      min-width: 700px;
  }
  }

@media (min-width: 1200px){

.main-header__primary-title {
      font-size: 56px;
      letter-spacing: 10px
  }
  }

.main-header__primary-subtitle {
    display: block;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0;
    -webkit-animation: moveInRight 1s ease-out;
            animation: moveInRight 1s ease-out;
  }

@media (min-width: 530px) {

.main-header__primary-subtitle {
      font-size: 19.2px;
      letter-spacing: 5px
  }
  }

@media (min-width: 800px){

.main-header__primary-subtitle {
      font-size: 32px;
      letter-spacing: 7px;
      min-width: 700px;  
  }
  }

@media (min-width: 1200px){

.main-header__primary-subtitle {
      font-size: 56px;
      letter-spacing: 10px
  }
  }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px)
  }

  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px)
  }

  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px)
  }

  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px)
  }

  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  font-size: 19.2px;
  font-weight: 300;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  line-height: normal;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(102,51,153,0.2);
          box-shadow: 0 10px 20px rgba(102,51,153,0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(102,51,153,0.2);
          box-shadow: 0 5px 10px rgba(102,51,153,0.2);
}

.btn--orange {
  background-color: #d59541;
  color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--orange::after {
  background-color: #d59541;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

