/* ========== ANIMIATIONS STYLES BEGIN ============*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(60px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* ================= BROWSER RESET ===================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* ================= GLOBAL STYLES ===================== */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

section {
  padding-bottom: 10rem; }

/* ============== HEADER TYPOGRAPHY BEGINS HERE ================== */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.7;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

.main-header__primary {
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Prevents the shake at the end of the title and subtitle animation.*/
  margin-bottom: 2rem; }

.main-header__primary-title {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5.6rem;
  letter-spacing: 1rem;
  animation: moveInLeft 1s ease-out;
  margin-bottom: 1rem;
  min-width: 35rem; }

.main-header__primary-subtitle {
  display: block;
  font-weight: 300;
  font-style: italic;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  animation: moveInRight 1s ease-out; }

.page-heading {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5.6rem;
  letter-spacing: 1rem;
  animation: moveInLeft 1s ease-out;
  margin-bottom: 1rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 6rem;
  letter-spacing: .3rem; }
  .heading-secondary::after {
    content: "";
    display: block;
    width: 20rem;
    height: .2rem;
    background-color: #d59541;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
    animation: moveInLeft 1s ease-out; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem; }

.paragraph {
  font-size: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.8rem; }

.btn-text {
  margin-top: .4rem; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #d59541;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid #d59541;
    padding: .3rem;
    transition: all .2s; }
  .btn-text:hover {
    background-color: #d59541;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn-text:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }
  .btn-text--white {
    color: #333; }
    .btn-text--white:hover {
      background-color: #fff;
      color: #333;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-padding-top-big {
  padding-top: 10rem; }

.u-indented {
  padding-left: 5rem;
  padding-right: 5rem; }

.u-font-white {
  color: #fff; }

.u-font-grey {
  color: #333; }

blockquote {
  padding: 2%;
  font-style: italic;
  color: #333;
  font-size: 2rem;
  line-height: 145%;
  position: relative;
  margin-top: 4rem; }

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -.5rem;
  left: -.5rem; }

cite {
  font-size: 90%;
  margin-top: 2.5rem;
  display: block; }

cite img {
  height: 6rem;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle; }

/* ============ BUTTON STYLES BEGIN =============== */
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: inline-block;
  display: inline-block;
  font-size: 2rem;
  width: 30rem;
  font-weight: 400;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  line-height: normal;
  letter-spacing: .2rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(102, 51, 153, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(102, 51, 153, 0.2); }

.btn--orange {
  background-color: #d59541;
  color: #fff; }
  .btn--orange::after {
    background-color: #d59541; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.donate-box {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.15);
  transition: transform .3s; }
  .donate-box:hover {
    transform: translateY(-2.5rem) scale(1.08); }

.section-offering__donate-box {
  background-color: #663399;
  color: #fff; }

.sermon-box {
  background-color: rgba(102, 51, 153, 0.8);
  color: #fff;
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  position: relative; }
  .sermon-box__img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .sermon-box__title {
    padding-top: 18rem; }
  .sermon-box__button {
    color: black; }

.study-box {
  background-color: rgba(151, 98, 204, 0.8);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5 4rem rgba(255, 255, 255, 0.15);
  transition: transform .3s; }
  .study-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #E64A19, #d59541);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .study-box:hover {
    transform: translateY(-2.5rem) scale(1.08); }

#customers {
  border-collapse: collapse;
  width: 100%; }

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px; }

#customers tr:nth-child(even) {
  background-color: #f2f2f2; }

#customers tr:hover {
  background-color: #ddd; }

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d59541;
  color: white; }

/************* This tab design inspired by a pen by Mikestreety ***********/
.tabs {
  display: flex;
  flex-wrap: wrap; }

.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: .2rem;
  cursor: pointer;
  background: #90caf9;
  color: #fff;
  font-weight: 700;
  transition: 0.2s; }

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 4rem;
  background: #eee;
  color: #333; }

.tabs input[type="radio"] {
  display: none; }

.tabs input[type="radio"]:checked + label + .tab {
  display: block; }

@media (max-width: 72rem) {
  .tabs .tab,
  .tabs label {
    order: initial; }
  .tabs .tab {
    padding: 2rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) /3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.grid-container,
.grid-fundamentals {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-template-areas: "card card card" "card card card" "card card card" "card card card"; }
  .grid-container__link, .grid-container__link:visited,
  .grid-fundamentals__link,
  .grid-fundamentals__link:visited {
    color: #333;
    border: 1px solid goldenrod;
    border-radius: .5rem;
    text-decoration: none; }
  .grid-container__link:hover,
  .grid-fundamentals__link:hover {
    border: .5rem solid goldenrod;
    background-color: #663399;
    color: #fff; }

.grid-fundamentals__link {
  text-decoration: none; }

.grid-pastoral-care {
  color: #fff;
  display: grid;
  grid: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-template-areas: "card card card" "card card card" "card card card"; }

.card {
  font-size: 1.6rem;
  padding: 2rem; }
  .card__title {
    font-size: 2.4rem;
    background-color: #663399;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1rem; }
  .card__button {
    padding-left: 0;
    padding-right: 0;
    text-align: center; }

.grid-fundamentals__title:hover {
  background-color: purple; }

.card-1 {
  background-color: #663399; }

.card-2 {
  background-color: #29ABE2; }

.card-3 {
  background-color: #22B573; }

.card-4 {
  background-color: #C69C6D; }

.card-5 {
  background-color: #534741; }

.card-6 {
  background-color: #2E3192; }

.card-7 {
  background-color: #9E005D; }

.card-8 {
  background-color: #0071BC; }

.card-9 {
  background-color: #FF0621; }

.card-10 {
  background-color: #29ABE2; }

.card-11 {
  background-color: #1B1464; }

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #663399; }
  .main-nav__brand-box {
    top: 4rem;
    left: 4rem; }
  .main-nav__branding {
    height: 15rem;
    padding: 3rem; }
  .main-nav__nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8rem; }
  .main-nav__nav-item {
    list-style: none; }
    .main-nav__nav-item a {
      padding-right: 3rem;
      font-size: 2.5rem;
      color: #fff;
      text-decoration: none;
      list-style: none; }

.main-footer {
  background-color: black;
  color: white;
  padding: 3rem;
  line-height: 2.5rem;
  font-size: 1.4rem; }
  .main-footer__logo {
    width: 10.7rem;
    height: auto; }
  .main-footer__heading {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: normal; }
  .main-footer__paragraph {
    color: #fff; }
    .main-footer__paragraph--address {
      text-indent: 15px; }
  .main-footer a {
    color: white;
    text-decoration: none; }

.sub-footer {
  background-color: #35404F;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem; }
  .sub-footer__copyright {
    padding-left: 8rem; }
  .sub-footer__social-links {
    padding-right: 8rem; }

.sub-footer__social-links {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  list-style: none; }
  .sub-footer__social-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px; }

/* ============= MAIN HEADER BEGINS HERE ============== */
.main-header {
  height: 100vh;
  background-color: #663399;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/app/assets/img/antiquity.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; }
  .main-header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

.section-intro {
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: 100vw; }

.page-heading {
  color: #fff;
  padding-top: 10rem; }

.cta {
  padding-bottom: 0; }
  .cta__wrapper {
    background: #54A4DE;
    padding-top: 5rem;
    height: 15rem; }
  .cta__form-control {
    color: #333;
    background-color: #fff;
    width: 100%;
    height: 5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding-left: 1rem; }
    .cta__form-control::placeholder {
      color: #333; }
  .cta__button {
    background-color: white;
    color: #333;
    width: 100%;
    text-align-last: center;
    height: 5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer; }

.section-welcome {
  background-color: #663399; }
  .section-welcome .section-welcome__info,
  .section-welcome .section-study__info {
    width: 70%; }

.pulpit {
  border: 2px solid white; }

.section-study {
  background-color: #eee;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/app/assets/img/bible-study.jpeg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding: 4rem; }

.section-donate {
  background-color: #35404F;
  padding: 4rem 4rem 8rem 4rem;
  color: #fff; }

.section-sermons {
  background-color: #eee;
  color: #333; }

.section-video {
  padding: 4rem 4rem 12rem 4rem;
  background-color: #eee; }

.section-tithe {
  background-color: #35404F;
  color: #fff;
  font-size: 1.6rem; }
  .section-tithe__item {
    padding-left: 3rem;
    list-style-type: square;
    list-style-position: inside; }
    .section-tithe__item--sub {
      padding-left: 4rem;
      line-height: 1.7;
      list-style-type: square; }

.section-offering {
  background-color: #eee;
  color: #333; }

.study-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(80, 68, 18, 0.6)), url("/app/assets/img/open_bible.jpg"); }

.worship-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(80, 68, 18, 0.6)), url("/app/assets/img/worship.jpg"); }

.section-services {
  background-color: #eee; }
