.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &__content {
    @include absCenter;
    max-height: 60rem;
    width: 60%;
    background-color: $color-primary-orange;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: .3rem;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.5);
    transition: all .4s .2s;
    overflow-y: scroll;
    
  }

  &__header {
    background-color: $color-primary-orange;
    color: $color-white;
    font-size: 2.4rem;
  }

  &__title {
    font-size: 3rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-left: 2.5rem;
  }

  // POPUP OPEN STATES
  &:target{
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-white;
      position: absolute;
      top: -1.3rem;
      right: 2.5rem;
      font-size: 6rem;
      font-weight: 400;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      cursor: pointer;
      margin-left: 20px;
    }

    &:hover {
      color: $color-primary-orange-deep;
    }
  }

  &__body {
    background-color: $color-white;
    color: $color-grey;
    // margin: 6rem;
  }

  &__info,
  &__item {
    color: $color-grey;
    font-size: 2rem;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    padding-top: 3.5rem;
    padding-bottom:3.5rem;
  }

  &__item {
    padding-top: 0;
  }

  &__item a:link  {
    text-decoration: none;
    border: 1px solid $color-primary-orange;
    padding: 1.5rem;  
    border-radius: 1rem;

  }

  &__item a:visited {
    color: $color-grey; 
}

  &__item a:hover {
    background-color: $color-primary-orange;
    color: white;
  }

  &__footer {
    background-color: $color-primary-orange;
    height: 20rem;
  }
   
}