.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.tabs:after {
  content: "";
  clear: both;
  display: block;
  height: 50rem;
}

.tabs li {
  float: left;
}

.tabs li > input {
  display: none;
}

.tabs li> label {
  display:inline-block;
  border:.1rem solid $color-primary-purple-light;
  border-bottom-width: 0;
  border-right-width: 0;
  height: 5rem;
  line-height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.tabs li:last-child > label {
  border-right-width: .1rem;
}

.tabs .tab-content {
  display: none;
  position: absolute;
  left: 0;
  padding: 2rem;
  border: .1rem solid $color-primary-purple-light;
  height: 40rem;
  overflow-y: scroll;
}


/************** FUNCTIONAL *****************/

.tabs li > input:checked + label {
  background-color: #eee;
}

.tabs li > input:checked ~ .tab-content {
  display:block;
}