/* ============== HEADER TYPOGRAPHY BEGINS HERE ================== */

body {
  font-family: 'Roboto', sans-serif;
  color: $color-grey; // font-size: 16px;
  line-height: 1.7;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.main-header {
  &__primary {
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*Prevents the shake at the end of the title and subtitle animation.*/
    margin-bottom: 2rem;
  }

  &__primary-title {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 5.6rem;
    letter-spacing: 1rem;
    animation: moveInLeft 1s ease-out;
    margin-bottom: 1rem;
    min-width: 35rem;
  }

  &__primary-subtitle {
    display: block;
    font-weight: 300;
    font-style: italic;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
  }
}


.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 6rem;
  letter-spacing: .3rem;

  &::after {
    content: "";
    display: block;
    width: 20rem;
    height: .2rem;
    background-color: $color-primary-orange;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
    animation: moveInLeft 1s ease-out;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.paragraph {
  font-size: 2rem;

  &:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}

.btn-text {
  margin-top: .4rem;
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary-orange;
    display: inline-block;
    text-decoration: none;
    border-bottom: .1rem solid $color-primary-orange;
    padding: .3rem;
    transition: all .2s;
  }
  &:hover {
    background-color: $color-primary-orange;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(0);
  }
}

// @media (min-width: 33.125rem) {
//   .main-header__primary-title {
//     font-size: 2.88rem;
//     letter-spacing: .5rem;
//     min-width: 60rem;
//   }
// }
// @media (min-width: 80rem) {
//   .main-header__primary-title {
//     font-size: 3.2rem;
//     letter-spacing: .7rem;
//     min-width: 70rem;
//   }
// }
// @media (min-width: 75rem) {
//   .main-header__primary-title {
//     font-size: 5.6rem;
//     letter-spacing: 1rem;
//   }
// }
// @media (min-width: 33.125rem) {
//   .main-header__primary-subtitle {
//     font-size: 1.92rem;
//     letter-spacing: .5rem;
//   }
// }
// @media (min-width: 50rem) {
//   .main-header__primary-subtitle {
//     font-size: 3.2rem;
//     letter-spacing: .7rem;
//     min-width: 70rem;
//   }
// }
// @media (min-width: 75rem) {
//   .main-header__primary-subtitle {
//     font-size: 5.6rem;
//     letter-spacing: 1rem;
//   }
// }
