.u-center-text {  text-align: center; }

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-padding-top-big {padding-top: 10rem;}

.u-indented {
  padding-left: 5rem;
  padding-right: 5rem;
}

.u-font-white {
  color: #fff;
}

.u-font-grey {
  color: #333;
}