.cta {
  padding-bottom: 0;
  
  &__wrapper {
    background: #54A4DE;
    padding-top: 5rem;
    height: 35rem;
  }

  &__form-control {
    color: $color-grey;
    background-color: $color-grey-light;
    width: 100%;
    height: 5rem; 
    font-family: 'Roboto',
    sans-serif;
    font-size: $default-font-size;
    padding-left: 1rem;

    &::placeholder {
      color: $color-grey;
    }
  }

  &__button {
    background-color: $color-grey-light;
    color: $color-grey;
    width: 100%;
    text-align-last: center;
    height: 5rem;
    font-family: 'Roboto',
    sans-serif;
    font-size: $default-font-size;
    text-transform: uppercase;
    cursor: pointer;
  }
}