.bible-reading-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/app/assets/img/bible-readings.jpg');
}

.section-read-book,
.section-the-book {
  background-color: #eee;
}

.btn-adobe {
  margin-left: 3.2rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;

  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;border-radius: .6rem;
    background-color: $color-primary-purple-light;
    color: $color-white;
  }

  &:hover {
    background-color: $color-primary-purple;
  }
}

.section-bookstore--small {
  background-color: #eee;
  padding-top: 0;
  padding-bottom:0;
  border-radius: .4rem;

  &__heading--small {
    font-size: 3rem;
  }
}

.publishing-banner--small {
  display: flex;
  background-color: #5f9ea0;
  padding:0;

  &__image {
    height: 130px;
    width: 122px;
  }

  &__group,
  &__donate-box {
    padding: 2.6rem;
    background-color: #5f9ea0;
    color: $color-white;
  }

  &__donate-box:hover {
    transform: none;
    background-color: #203738;
    color: $color-white;
  }

  &__watch-group {
    padding: 2.5rem;
    background-color: #91634f;
  }

  &__heading {
    font-size: 2.2rem;
    color: $color-white;
    margin-bottom: 1rem;;
  }

  &__info {
    color: $color-white;
    font-weight: normal;
    font-size: 1.8rem;
    padding-bottom: 2rem;
  }

  &__link:link,
  &__link:visited {
    font-size: 2.4rem;
    font-weight: 400;
    color: $color-white;
    text-decoration: none;
    display: block;
    background-color: #91634f;  
    border-radius: .4rem;  
  }

  &__link:hover {
    background-color: #4e3428;    
  }

  &__facebook:link,
  &__facebook:visited {
    background-color: #5F9EA0; 
    padding-left: 2rem;
  }

  &__facebook:hover {
    background-color: #54A4DE;   
  }


}
