.footprints-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/app/assets/img/footprints.jpg');
}

.section-biblical-footprints {
  background-color: $color-grey-light;
  color: $color-grey;
}

.footprint-box {
  height: 23.2rem;
  width: 23.7rem;

  &__number {
    font-size: 3.4rem;
    padding-top: 4rem;
    margin-bottom: 2rem;
  }
  
  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0 3rem;
  }


  & a:link,
  & a:visited {
    color: $color-white;
    text-decoration: none;
  } 

  &:hover {
    background-color: $color-white;
    color: $color-blue-grey;
    cursor: pointer;

    & a:link,
    & a:visited {
      color: $color-blue-grey;
      text-decoration: none;
    }
  }  

  & a:hover {
    color: $color-blue-grey;
  }
}


