.freesda-body {
  background: linear-gradient(to bottom, #B721FF, #2AF598, #fec051, #FEE140, #FA709A );
	background-repeat: no-repeat;
  margin: 0;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #21D4FD 75%);
    position: relative;
  }
}

.freesda-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(80, 68, 18, 0.6)), url('/app/assets/img/sherpherd.jpg');
}

#container {
  background-color: $color-white;
  margin: 8rem 10% 18rem 10%;
  padding: 3rem 6rem;
  border-radius: 2rem;
  box-shadow: 0 .3rem 2.6rem 0 rgba(0, 0, 0, 0.2);
}

.freesda-main,
.banner-main  {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 1rem;
  color: #6b6b6b;
  margin: 10rem 20rem;

  &__item:link,
  &__item:visited {
    text-decoration: none;
    color: #6b6b6b;
    border-bottom: 3px solid #6b6b6b;
  }
}

