.freesda-body {
  background: linear-gradient(to bottom, #B721FF, #2AF598, #fec051, #FEE140, #FA709A );
	background-size: 100%;
  background-repeat: no-repeat;
  
  &:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #21D4FD 75%);
  }
}

#container {
  background-color: $color-white;
  margin: 80px, 100%;
  padding: 30px 60px;
  border-radius: 2rem;
  box-shadow: 0 .3rem 2.6rem 0 rgba(0, 0, 0, 0.2);
}

.freesda-main  {
  box-sizing: border-box;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  color: #6b6b6b;
  margin: 40px 0;
}