.section-welcome {
  background-color: $color-primary-purple;
  
  & .section-welcome__info,
  & .section-study__info {
      width: 70%;
  }
}

.pulpit {
  border: 2px solid white;
}

.section-study {
  background-color: $color-grey-light;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("/app/assets/img/bible-study.jpeg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding: 4rem;
}

.section-donate {
  background-color: $color-blue-grey;
  padding: 4rem 4rem 8rem 4rem;
  color: $color-white;
}

.section-sermons {
  background-color: $color-grey-light;
  color: $color-grey;
}

