.section-welcome {
  background-color: $color-primary-purple;
  
  & .section-welcome__info,
  & .section-study__info,
  & .section-donate--cta__info {
      width: 80%;
  }
}

.pulpit {
  border: 2px solid white;
}

.section-playlist {
  background-color: #eee; 
}

.container-1 {
  display: flex;
}

.section-study {
    background-color: blue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/app/assets/img/bible-study.jpeg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 4rem;
}

.container-1 div, 
.cta div {
  border: 1px solid white;
  padding: 1rem;
  margin: 1rem;
  flex-wrap: wrap; 
}

.study {
  display: flex;
  color: white;
  flex: 3;
  // min-width: 6rem;
  justify-content: space-between;

  & div {
    max-width: 24rem;
    min-width: 21rem;
  }
}

.study1 {
  background-color: brown;
}

.study2 {
  background-color: green;
}

.study3 {
  background-color: purple;
  
}

.study4 {
  background-color: goldenrod;
  
}

.donate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  align-content: center;
  padding-top: 4rem;

  & div {
    max-width: 40px;
    min-width: 28rem;
    // align-items: center;
  }

  & .publishing,
  & .publishing-description,
  & .publishing-announcement {
    max-width: 40px;
    min-width: 28rem;
    border: 1px solid #777;
  }

  

  
}



