.pastor-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/app/assets/img/sherpherd.jpg');
}

.section-pastoral-care {
  background-color: $color-primary-brown;
  color: $color-white;
}

.pastor {
  font-size: 2rem;  

  &__bio {
    margin-bottom: 2rem;;
  }

  &__video:link,
  &__video:visited {
    opacity: .5;
  }

  &__video:hover {
    opacity: 1;
  }

  &__img {
      border-radius: 6px;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
  }
}

.cta__container {
  height: 15rem;
}

.section-pastor {
  background-color: $color-grey-light;
}

.pastoral-card {
  border-radius: .5rem;
  opacity: .7;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);

  &:hover {
    opacity: 1;
  } 

  &__content {
    margin-bottom: 3rem;
    padding-top: 2rem;
  }

  & a:link,
  & a:visited {
    text-decoration: none;
    display: block;
    border: .1rem solid white;
    color: white;
    padding: 1rem;
    font-size: 1.8rem;
  }

  & a:hover {
    background-color: $color-primary-orange;
  }


}


