.section-video {
  padding: 4rem 4rem 12rem 4rem;
  background-color: $color-grey-light;
}

.section-tithe {
  background-color: #35404F;
  color: $color-white;
  font-size: 1.6rem;

  &__item {
    padding-left: 3rem;
    list-style-type: square;
    list-style-position: inside;

    &--sub {
      padding-left: 4rem;
      line-height: 1.7;
      list-style-type: square;
    }    
  }
}

.section-offering {
  background-color: $color-grey-light;
  color: $color-grey;
}

