.worship-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/app/assets/img/worship.jpg');
}

.normal-quote {
  margin-top: 0;
  padding-top: 0;
}

.box__cite {
  padding-left: 20rem;
}

.section-services {
  background-color: #eee;
}

.section-fellowship {
  background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)),
  url('/app/assets/img/fellowship_meal.jpg');
  height: 60vh;
  color: $color-white;
  background-attachment: fixed;
}

.children-activity {
  // margin-bottom: 5rem;

  &::after {
    content: "";
    display: block;
    width: 80rem;
    height: .2rem;
    background-color: $color-white;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    opacity: .2;
  }
}

.section-children {
  background-color: $color-primary-purple-light;
  color: $color-white;
}

.children-storytime, {
  background-image: linear-gradient(rgba($color-primary-orange-deep, .5), rgba($color-primary-orange-deep, .3)),
  url('/app/assets/img/storytime.jpg');
  height: 100%;
  width: 100%;
  color: $color-white;
  background-size: cover;
  background-position: center;
  border-radius: .6rem;

  &__quote {
    color: $color-white;
    padding: 15px;
    font-weight: 400;
    font-size: 2rem;
  }

  &__card {
    border: solid $color-white 1px;
  }  
}

.children-afternoon {
  background-image: linear-gradient(rgba($color-primary-orange-deep, .5), rgba($color-primary-orange-deep, .5)),
  url('/app/assets/img/kids.jpg');
  height: 100%;
  width: 100%;
  color: $color-white;
  background-size: cover;
  background-position: center;
  border-radius: .6rem;

  &__card--content {
    padding: 1.5rem;
    background-color: $color-primary-purple;
    opacity: .8;
    color: $color-white;
  }
}

.card__title--heading {
  background-color: $color-primary-orange;
}

.section-adults,
.section-testimony,
.section-pioneers {
  background-color: #eee;
}

.section-baptismal {
  background-image: linear-gradient(rgba(92, 51, 51, 0.9), rgba(92, 51, 51, 0.9)),
  url('/app/assets/img/baptism.jpg');
  height: 100%;
  width: 100%;
  color: $color-white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-discussion {
   background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
   url('/app/assets/img/discussion.jpg');
   height: 100%;
   width: 100%;
   color: $color-white;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.section-membership {
  background-color: $color-blue-grey;
  color: $color-white;
}

.section-health {
  background-image: linear-gradient(rgba($color-primary-purple-light, .8), rgba($color-primary-purple-light, .8)),
  url('/app/assets/img/grapevine.jpg');
  height: 100%;
  width: 100%;
  color: $color-white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#call-to-action {
  padding-bottom: 10rem;
  background-color: #1E90FF;
  color: $color-white;
}

// .cta__container,
.need-prayer {
  padding-top: 6rem;
  padding-bottom: 10rem;
  height: 20rem;
  text-align: center;
}

.prayer-request {
  font-size: 3rem;
  margin-bottom: 2rem;

  &__info {
    margin-bottom: 2rem;
  }
}

 /* Style the form - display items horizontally */
 .form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 1.8rem;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: $color-blue-grey;
  border: 1px solid #ddd;
  color: white;
  font-size: 2rem;;
}

.form-inline button:hover {
  background-color: #4169e1;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 2rem;
  }

  #call-to-action {
    padding-bottom: 20rem;
  }
  .need-prayer {
    height: 50rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;

    &__info  {
      width: 100%;
    }
  }

  /* Style the submit button */
.form-inline button {
  margin: 2rem;
}

  .form-inline {
    flex-direction: column;
    align-items: stretch;   
  }
} 
