.affiliations-intro {
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/app/assets/img/affiliations.jpg');
}

.section-certificate {
  background-color: $color-grey-light;
}

.certificate {
  text-align-last: center;
}