.fundamental-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/app/assets/img/foundation.jpg');
}

.section-page__info {
  padding-top: 8rem;
  background-color: $color-grey-light;
}

.section-fundamentals {
  background-color: $color-primary-brown;
  color: $color-white;
}

.card-beliefs {
  border: 1px solid $color-white;
  background-color: $color-primary-purple-light; 
  border-radius: .3rem;
  padding: 0;

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $color-white;
  }

 &:hover {
   background-color: $color-primary-orange;
 }

 &__icon {
   margin-right: 1rem;
 }

 &__title {
   min-height: 5rem;
   background-color: $color-blue-grey;
   padding-top: .3rem;
 }

 .card-beliefs__content {
   padding: 3rem;
 }
}

.section-bookstore {
  background-color: #ffefd5;
  padding-top: 8rem;

  &__heading {
    font-size: 3rem;
  }
}

.publishing-banner {
  display: flex;
  background-color: #5f9ea0;
  padding:0;

  &__image {
    height: 20rem;
  }

  &__group {
    padding: 2rem 2rem 0 2rem;
    margin-left: 2rem;
  }

  &__heading {
    font-size: 3rem;
    color: $color-white;
    margin-bottom: 1rem;;
  }

  &__info {
    color: $color-white;
    font-weight: normal;
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }

  &__link:link,
  &__link:visited {
    font-size: 2rem;
    color: $color-white;
    text-decoration: none;
    display: block;
    border: .1rem solid #91634f;  
    border-radius: .4rem;  
  }

  &__link:hover {
    background-color: #91634f;
    
  }
}
